::ng-deep {
  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background-color: var(--color-body);
  }

  // .mat-horizontal-content-container,
  // .mat-horizontal-stepper-header,
  // .mat-vertical-stepper-header {
  //   padding-left: 0 !important;
  // }

  .mat-vertical-content,
  .mat-horizontal-content-container {
    background-color: #fff;
    border-radius: 8px;
  }
  .mat-vertical-content {
    margin-left: 20px;
  }
}

.wrapper {
  margin: 0 auto;
  margin-top: 30px;
  max-width: 820px;
  .title {
    padding: 20px 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
  }

  .form-check {
    margin-bottom: 0.75rem !important;
    font-size: 15px;
    font-weight: 400;
    font-family: var(--heading-font-family);
  }

  .consent-leter {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    max-height: 350px;
    overflow-y: auto;

    .content {
      padding: 20px;
      border: 1px solid var(--color-border);
      border-radius: 4px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    }
    p {
      font-size: 15px;
      line-height: 24px;
      font-family: var(--heading-font-family);
      font-weight: 400;
    }
    .content > p {
      font-size: 14px;
      line-height: 22px;
    }
  }

  .signature-area {
    label {
      font-size: 15px;
    }
    canvas {
      display: block;
      border: 1px solid var(--color-border);
      border-radius: 4px;
    }
    .footer {
      display: flex;
      justify-content: space-between;
      .sign-date {
        font-size: 13px;
        font-style: italic;
      }

      .clear {
        //margin-right: ;
        font-size: 13px;
        cursor: pointer;
      }
    }
  }
}
.actions {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  button {
    min-width: 115px;
    &.btn-regular-outlined {
      margin-right: 20px;
    }
  }
}
