<div class="wrapper">
  <img src="/assets/img/no-icon.png" alt="" />
  <div class="content">
    <h2>Sorry, we can’t continue!</h2>
    <p>
      We appreciate your interest in BioAge, however you fall into a category
      that we cannot guarantee an accurate result for. If you have any
      questions, please ask your technician.
    </p>
    <button (click)="bsModalRef.hide()" routerLink="/patients" class="btn btn-outline-primary btn-regular-outlined extended">
      Another time
    </button>
  </div>
</div>
