<div class="container">
  <div class="wrapper">
    <h2>Patients List</h2>
    <div class="actions">
      <div class="inner-addon left-addon me-auto">
        <img src="/assets/svg/search.svg" alt="search" />
        <input
          type="search"
          placeholder="Search by ID or email address..."
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="sort" i18n>Sort:</label>
        <select
          class="sort"
          name="sort"
          #sortControl
          id="sort"
          (change)="onSort(sortControl.value)"
        >
          <option value="new" selected i18n>Newest</option>
          <option value="old" i18n>Oldest</option>
        </select>
      </div>
      <button
        routerLink="/patients/add"
        class="btn btn-primary btn-regular icon-btn me-3"
      >
        <img class="icon" src="/assets/svg/user-plus.svg" alt="" />
        New Patient
      </button>
    </div>
    <table class="table">
      <tbody>
        <tr *ngFor="let patient of patientList">
          <td>
            <img class="icon" src="/assets/svg/user-black.svg" alt="" />
            {{ patient.id }}
          </td>
          <td>
            <img class="icon" src="/assets/svg/mail.svg" alt="" />
            {{ patient.email }}
          </td>
          <td><span class="assessment">Run Assessment</span></td>
          <td>
            <span dropdown [insideClick]="true" placement="bottom left">
              <img
                dropdownToggle
                class="icon"
                src="/assets/svg/more-vertical.svg"
                alt=""
              />
              <ul *dropdownMenu class="dropdown-menu dropdown-menu-left">
                <li>Remove</li>
              </ul>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="pagination">
      <div class="items-per-page">
        <span>Items per page: {{ pagination.itemsPerPage }}</span>
        <span class="dropdown" dropdown [dropup]="true" [insideClick]="false">
          <img dropdownToggle src="/assets/svg/chevron-down.svg" alt="" />
          <ul *dropdownMenu class="dropdown-menu">
            <li
              *ngFor="let perPage of pagination.itemsPerPageArr"
              (click)="changeItemsPerPage(perPage)"
            >
              {{ perPage }}
            </li>
          </ul>
        </span>
      </div>
      <div class="showing-items">
        <span> 1 - 6 of {{ pagination.totalItems }} items</span>
      </div>

      <div class="pages">
        <span>{{ pagination.currentPage }}</span>
        <span class="dropdown" dropdown [dropup]="true" [insideClick]="false">
          <img dropdownToggle src="/assets/svg/chevron-down.svg" alt="" />
          <ul *dropdownMenu class="dropdown-menu">
            <li
              *ngFor="
                let page of [].constructor(pagination.totalPages);
                let i = index
              "
              (click)="pageChange(page)"
            >
              {{ i + 1 }}
            </li>
          </ul>
        </span>

        of {{ pagination.totalPages }}
        pages
      </div>

      <div class="navigate">
        <span
          ><img
            (click)="pageChange(pagination.currentPage - 1)"
            src="/assets/svg/chevron-left.svg"
            alt=""
        /></span>
        <span
          ><img
            (click)="pageChange(pagination.currentPage + 1)"
            src="/assets/svg/chevron-right.svg"
            alt=""
        /></span>
      </div>
    </div>
  </div>
</div>
